<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property name="LOG_DIR" value="../logs" />
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/lifeix_testsomething_logback.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<!-- rollover daily -->
			<fileNamePattern>${LOG_DIR}/lifeix_testsomething_logback-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      		<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<!-- or whenever the file size reaches 2MB -->
        		<maxFileSize>10MB</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
    	</rollingPolicy>
    	<encoder>
    		<pattern>%-20(%d{yyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
    	</encoder>
  	</appender>
  	
  	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder>
    		<pattern>%-20(%d{yyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
    	</encoder>
  	</appender>
  	<root level="DEBUG">
    	<appender-ref ref="ROLLING" />
    	<appender-ref ref="CONSOLE" />
	</root>
	<logger name="com.lifeix.utility" level="ERROR"/>
  	<logger name="com.google.code.yanf4j.core" level="ERROR"/>
  	<logger name="org.apache.mina.filter.codec" level="ERROR" />
  	<logger name="net.rubyeye.xmemcached" level="ERROR" />
</configuration>